package-db: /media/HonDa/Documents/Trabajos/USB/Abril-Julio2012/DesarrolloWeb/ministeam/cabal-dev/packages-7.0.3.conf
local-repo: /media/HonDa/Documents/Trabajos/USB/Abril-Julio2012/DesarrolloWeb/ministeam/cabal-dev/packages
user-install: False
remote-repo: hackage.haskell.org:http://hackage.haskell.org/packages/archive
remote-repo-cache: /home/nock/.cabal/packages
world-file: /home/nock/.cabal/world
build-summary: /media/HonDa/Documents/Trabajos/USB/Abril-Julio2012/DesarrolloWeb/ministeam/cabal-dev/logs/build.log
remote-build-reporting: anonymous
install-dirs user
  prefix: /media/HonDa/Documents/Trabajos/USB/Abril-Julio2012/DesarrolloWeb/ministeam/cabal-dev/
install-dirs global
  prefix: /media/HonDa/Documents/Trabajos/USB/Abril-Julio2012/DesarrolloWeb/ministeam/cabal-dev/